#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

* {
  font-family: Helvetica;
 }

h1{
  font-size: 20px;
}

h2{
  font-size: 17px;
}

h3{
  font-size: 12px;
  color: #d3d3d3;
}

h4{
  font-size: 15px;
 }

 h5{
  font-size: 12px;
 }

img{
  border-radius: 3%;
}

.img2{
  border-radius: 50%;
}